<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><?php echo $heading_title; ?></title>
<link rel="stylesheet" type="text/css" href="<?php echo $res; ?>stylesheet/stylesheet.css" />
</head>
<body>
<div id="content" style="width:960px; margin:0 auto; padding-top:50px; text-align:center; font-size:16px; font-weight:bold; color:#666;">
  <div> <img src="<?php echo $res; ?>image/maintaining.png" width="282" height="322" /></div>
  <div style="clear:both; height:20px;"></div>
  <div><?php echo $message; ?></div>
  <div><a href="/"><?php echo $text_home; ?></a></div>
</div>
</body>
</html>
