<div id="column-right">
  <div id="lCol">
    <div id="product_rr" style="visibility: visible;">
      <div id="leftContainer" style="align:center;text-align: center;"><span class="title">You May Also Like:</span>
        <div id="productContent">
          <ul class="pdpresboxclass" id="pdpresbox">
            <li class="mbItem" id="pdpresitem">
              <div class="thumbWrapper"><a class="recI" href="/"><img height="80" width="80" border="0" src="./images/pDSP1-18330401reg.jpg" alt="Louisville Slugger Men&#39;s Loose Fit &amp;#190; Sleeve Shirt"></a></div>
              <a class="boldLink" href="/">Louisville Slugger Men's Loose Fit ¾ Sleeve Shirt</a>
              <div class="ourPrice2">
                <p class="price">$18.99</p>
              </div>
            </li>
            <li class="mbItem" id="pdpresitem">
              <div class="thumbWrapper"><a class="recI" href="/"><img height="80" width="80" border="0" src="./images/pDSP1-15821216reg.jpg" alt="Nike Men&#39;s Swingman Core 3/4 Sleeve Baseball Shirt"></a></div>
              <a class="boldLink" href="/">Nike Men's Swingman Core 3/4 Sleeve Baseball Shirt</a>
              <div class="ourPrice2">
                <p class="price">$40.00</p>
              </div>
            </li>
            <li class="mbItem" id="pdpresitem">
              <div class="thumbWrapper"><a class="recI" href="/"><img height="80" width="80" border="0" src="./images/pDSP1-18330433reg.jpg" alt="Louisville Slugger Men&#39;s Loose Fit T-Shirt"></a></div>
              <a class="boldLink" href="/">Louisville Slugger Men's Loose Fit T-Shirt</a>
              <div class="ourPrice2">
                <p class="price">$18.99</p>
              </div>
            </li>
            <li class="mbItem" id="pdpresitem">
              <div class="thumbWrapper"><a class="recI" href="/"><img height="80" width="80" border="0" src="./images/pDSP1-17977177reg.jpg" alt="Nike Dri-FIT Home &amp; Away Doublewide Reversible Wristbands"></a></div>
              <a class="boldLink" href="/">Nike Dri-FIT Home &amp; Away Doublewide Reversible Wristbands</a>
              <div class="ourPrice2">
                <p class="price">$10.00</p>
              </div>
            </li>
            <li class="mbItem" id="pdpresitem">
              <div class="thumbWrapper"><a class="recI" href="/"><img height="80" width="80" border="0" src="./images/pDSP1-12965246reg.jpg" alt="EvoShield Batter&#39;s Wrist Guard"></a></div>
              <a class="boldLink" href="/">EvoShield Batter's Wrist Guard</a>
              <div class="ourPrice2">
                <p class="price">$24.99</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
