<?php echo $header; ?>

<div id="content">
  <h1 style="display: none;"><?php echo $heading_title; ?></h1>
  <div id="frame">
    <div style="width:940px; margin:10px 0; border:0px;overflow:hidden;">
      <div style="margin:0px;"><a href="/" title=""> <img alt="" src="<?php echo $res; ?>image/HP_ASpot_MothersDay_v2.jpg"></a></div>
      <div style="margin:10px 0px 0px 0px;"><a href="/" title=""><img style="padding:10px 0px;" alt="" src="<?php echo $res; ?>image/HP_Promo_Deals.jpg"></a></div>
      <div style="margin:10px 0px 0px 0px; white-space:nowrap;">
        <div style="display:inline-block; *display:inline; *zoom:1; margin:0px 5px 0px 0px; height:230px; width:465px;"><a href="/" title=""><img src="<?php echo $res; ?>image/HP_B1_Saucony_RockYourRun.jpg" alt=""></a></div>
        <div style="display:inline-block; *display:inline; *zoom:1; margin:0px 0px 0px 5px; height:230px; width:465px;"><a href="/" title=""><img src="<?php echo $res; ?>image/HP_B2_NHLPlayoffs.jpg" alt=""></a></div>
      </div>
      <div style="margin:50px 0px 0px 0px; font-size:0px; max-width:940px;">
        <div style="height:24px; background:url(<?php echo $res; ?>image/bgStripe2px.jpg) no-repeat; margin:0px 0px 15px 0px; ">
          <h2 style="margin:0px 10px 0px 0px; font:700 20px/24px Arial, Helvetica, sans-serif; background-color:#fff; display:inline; padding:0px 20px 0px 10px; color:#333;">TRENDING NOW</h2>
        </div>
        <div id="cSpotContainer1">
          <div style="display:inline-block; margin:0px 5px 0px 10px; *display:inline; *zoom:1; vertical-align:top; width:300px;" class="hpcat leftBlock"><img style="display:block;" src="<?php echo $res; ?>image/HP_C1_Outdoors.jpg" alt="">
            <h3 style="color:#333; margin:5px 0px 0px 0px; padding:0px; font:700 16px/22px Arial, Helvetica, sans-serif;">Start Your Spring Adventure</h3>
            <a href="/" style="font:700 12px/14px Arial, Helvetica, sans-serif; display:block; margin:5px 0px 0px 0px; text-transform: uppercase;">Best Gear For The Outdoors<span style="font-size:1.250em;"> »</span></a></div>
          <div class="hpcat centerBlock" style="display:inline-block; margin:0px 5px 0px 5px; *display:inline; *zoom:1; vertical-align:top; width:300px;"><img src="<?php echo $res; ?>image/HP_C2_Nike_DriFitKnit.jpg" style="display:block;" alt="">
            <h3 style="color:#333; margin:5px 0px 0px 0px; padding:0px; font:700 16px/22px Arial, Helvetica, sans-serif;">Nike Dri-FIT Knit</h3>
            <a href="/" style="font:700 12px/14px Arial, Helvetica, sans-serif; display:block; margin:5px 0px 0px 0px; text-transform: uppercase;">Shop The Collection<span style="font-size:1.250em;"> »</span></a></div>
          <div style="display: inline-block; margin: 0px 10px 0px 5px; vertical-align: top; width: 300px; cursor: pointer;" class="hpcat rightBlock" ><img src="<?php echo $res; ?>image/HP_C3_TaylorMadeJetSpeed_BOGO.jpg" style="display:block;" alt="">
            <h3 style="color:#333; margin:5px 0px 0px 0px; padding:0px; font:700 16px/22px Arial, Helvetica, sans-serif;">Engineered For JetSpeed</h3>
            <a href="/" style="font:700 12px/14px Arial, Helvetica, sans-serif; display:block; margin:5px 0px 0px 0px; text-transform: uppercase">Shop Taylormade Jetspeed<span style="font-size:1.250em;"> »</span></a></div>
        </div>
      </div>
      <div style="margin:50px 0px 0px 0px; font-size:0px; max-width:940px;">
        <div style="height:24px; background-image:url(<?php echo $res; ?>image/bgStripe2px.jpg); background-repeat:no-repeat; margin:0px 0px 15px 0px;">
          <h2 style="margin:0px 10px 0px 0px; font:700 20px/24px Arial, Helvetica, sans-serif; background-color:#fff; display:inline; padding:0px 20px 0px 10px; color:#333;">TOP PRODUCTS</h2>
        </div>
        <div id="cSpotContainer2">
          <div style="display: inline-block; margin: 0px 5px 0px 10px; vertical-align: top; width: 300px; cursor: pointer;" class="hpcat leftBlock"><img alt="" src="<?php echo $res; ?>image/HP_C4_WoundedWarrior.jpg" style="display:block; cursor:pointer;">
            <h3 style="color:#333; margin:5px 0px 0px 0px; padding:0px; font:700 16px/22px Arial, Helvetica, sans-serif;">Wounded Warrior Project</h3>
            <a href="/" style="font:700 12px/14px Arial, Helvetica, sans-serif; display:block; margin:5px 0px 0px 0px; text-transform: uppercase; ">shop under armour styles<span style="font-size:1.250em;"> »</span></a></div>
          <div class="hpcat centerBlock" style="display: inline-block; margin: 0px 5px; vertical-align: top; width: 300px; cursor: pointer;"><img alt="" style="display:block; cursor:pointer;" src="<?php echo $res; ?>image/HP_C5_Jawbone.jpg">
            <h3 style="color:#333; margin:5px 0px 0px 0px; padding:0px; font:700 16px/22px Arial, Helvetica, sans-serif;">Reach Your Goals</h3>
            <a href="/" style="font:700 12px/14px Arial, Helvetica, sans-serif; display:block; margin:5px 0px 0px 0px; text-transform: uppercase">shop activity trackers<span style="font-size:1.250em;"> »</span></a></div>
          <div style="display: inline-block; margin: 0px 10px 0px 5px; vertical-align: top; width: 300px; cursor: pointer;" class="hpcat rightBlock"><img src="<?php echo $res; ?>image/HP_C6_7on7.jpg" style="display:block; cursor:pointer;" alt="">
            <h3 style="color:#333; margin:5px 0px 0px 0px; padding:0px; font:700 16px/22px Arial, Helvetica, sans-serif; cursor: pointer;">Gloves That Change The Game</h3>
            <a href="/" style="font:700 12px/14px Arial, Helvetica, sans-serif; display:block; margin:5px 0px 0px 0px; text-transform: uppercase">Get new nike vapor jet 3.0<span style="font-size:1.250em;"> »</span></a></div>
        </div>
      </div>
      <div style="margin-top:30px;"><img src="<?php echo $res; ?>image/SandlerEcomFooter.jpg" alt=""></div>
    </div>
  </div>
  </div>
<?php echo $footer; ?>