<div class="" id="background"></div>
<div class="two_region_template" data-tracking-category-id="Home Page" data-tracking-page-id="THE NORTH FACE - HOME PAGE" data-video-tracking-id="385545" id="content">
    <div id="breadcrumbs">
    <div class="row">
        <div class="gutter-03 gutter-01">
            <div class="col-24">
                <div class="page-title center-title">
               		<h1>Free Ground shipping with $50 minimum</h1>
                </div>
            </div>
        </div>
    </div>
    </div>
    
  <div id="content-inner">
    <div class="content-box">
      <div class="row rounded">
        <div id="region_header">
          <div style="position: relative;" id="midas_snippet_21" data-snippet="snippet-21" class="midas-snippet">
            <div class="gutter-03 gutter-00">
              <div class="hero-gallery tab-opt tabbed-hero-gallery">
                <div class="col-24">
                  <div class="hero-box">
                    <div class="hero">
                      <div class="side-tabs">
                        <div class="slot"> <a href="" class="disabled"> <span> MTN Athletics <strong> </strong> </span> 
                        	<img alt="" height="124" src="<?php echo $res; ?>image/left_1.jpg" width="155"></a> </div>
                        <div class="slot"> <a href="" class="disabled"> <span> Climb On <strong> </strong> </span> 
                        	<img alt="" height="124" src="<?php echo $res; ?>image/left_2.jpg" width="155"></a> </div>
                        <div class="slot"> <a href="" class="disabled"> <span> Flight Series <strong> </strong> </span> 
                        	<img alt="" height="124" src="<?php echo $res; ?>image/left_3.jpg" width="155"></a> </div>
                        <div class="slot"> <a href="" class="disabled"> <span> Winter Run <strong> </strong> </span> 
                        	<img alt="" height="124" src="<?php echo $res; ?>image/left_4.jpg" width="155"></a> </div>
                        <div class="slot"> <a href="" class="open disabled"> <span> Recycle It <strong> </strong> </span> 
                        	<img alt="" height="124" src="<?php echo $res; ?>image/left_3.jpg" width="155"></a> 
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="midas-snippet" data-snippet="snippet-22" id="midas_snippet_22" style="position: relative; ">
            <div class="products-grid">
                <div class="gutter-02">
                  <div class="col-06">
                    <div class="col-headers">
                      <h4>Men's</h4> 
                      <a href="#">Shop all</a> </div>
                      <a class="box" href="#"> <img src="<?php echo $res; ?>image/men-8217-s-kilowatt-1_4-zip-A9FJ_ZB4_hero.png"> <span class="cta"> <span class="arrow-box"> <span class="arrow"></span> </span> </span> <span class="rollover-bg"></span> <span class="rollover">
                       <h3>MEN'S KILOWATT 1/4 ZIP</h3>
                    <span class="cta">Shop Now</span> </span> </a> </div>
                </div>
                <div class="gutter-02">
                  <div class="col-06">
                    <div class="col-headers">
                      <h4>Women's</h4>
                      <a href="#">Shop all</a> </div>
                    <a class="box" href="#"> <img src="<?php echo $res; ?>image/women-39-s-mod-osito-jacket-C845_H2E_hero.png"> <span class="cta"> <span class="arrow-box"> <span class="arrow"></span> </span> </span> <span class="rollover-bg"></span> <span class="rollover">
                    <h3>WOMEN'S MOD-OSITO JACKET</h3>
                    <span class="cta">Shop Now</span> </span> </a> </div>
                </div>
                <div class="gutter-02">
                  <div class="col-06">
                    <div class="col-headers">
                      <h4>Youth</h4>
                      <a href="#">Shop all</a> </div>
                    <a class="box" href="#"> <img src="<?php echo $res; ?>image/girls-8217-multi-half-dome-pullover-hoodie-A8B4_H8E_hero.png"> <span class="cta"> <span class="arrow-box"> <span class="arrow"></span> </span> </span> <span class="rollover-bg"></span> <span class="rollover">
                    <h3>GIRLS' MULTI HALF DOME PULLOVER HOODIE</h3>
                    <span class="cta">Shop Now</span> </span> </a> </div>
                </div>
                <div class="gutter-03">
                  <div class="col-06">
                    <div class="col-headers">
                      <h4>Equipment</h4>
                      <a href="#">Shop all</a> </div>
                    <a class="box" href="#"> <img src="<?php echo $res; ?>image/women-39-s-borealis-backpack-A93F_L5C_hero.png"> <span class="cta"> <span class="arrow-box"> <span class="arrow"></span> </span> </span> <span class="rollover-bg"></span> <span class="rollover">
                    <h3>WOMEN'S BOREALIS BACKPACK</h3>
                    <span class="cta">Shop Now</span> </span> </a> </div>
                  <div class="stamp-br"></div>
                  <div class="stamp-bl"></div>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row rounded">
        <div id="region_content-main"></div>
      </div>
    </div>
  </div>
</div>
