  <li>
    <form action="<?php echo $action; ?>" method="post" enctype="multipart/form-data" id="form">
      <div class="widget helv-11  ctr-info" >
        <?php foreach ($languages as $language) { ?>
          <?php if ($language['code'] == $language_code) { ?>
            <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
              <span class="cur-currency"><?php echo $language['name']; ?></span> <span class="caret"></span>
            </a>
          <?php } ?>
        <?php } ?>
        <div class="dropdown-menu">
          <ul class="currency-list">

            <?php foreach($languages as $language) { ?>
              <?php if ($language['code'] != $language_code) { ?>
                <li><a onclick="$('input[name=\'language_code\']').attr('value', '<?php echo $language['code']; ?>'); $('#form').submit();"><span><?php echo $language['name'];?></span></a></li>
              <?php } ?>
            <?php } ?>
           
          </ul>
        </div>
      </div>
    <input type="hidden" name="language_code" value="" />
    <input type="hidden" name="redirect" value="<?php echo $redirect; ?>" />
    </form>
  </li>