<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<html>
<head>
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link type="text/css" rel="stylesheet" href="/cpanel/view/default/stylesheet/silver.css" />
<script src="/cpanel/view/default/javascript/frame/func.js"></script>
</head>
<script src="/cpanel/view/default/javascript/frame/content.js"></script>
<script>
// 设置对象与属性
var IECContentObject = new IECContent();
window.onload = function()
{
	parent._IECTagLoad = true;
	parent.G("IECTag").src = parent._TagUrl;
}
</script>
</head>
<frameset id="content" rows="100%,*" cols="*" frameborder="no" border="0" framespacing="0">
</frameset>
</html>