<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><?php echo htmlspecialchars_decode($meta_title); ?></title>
<meta name="keywords" content="<?php echo $meta_keywords; ?>" />
<meta name="description" content="<?php echo $meta_description; ?>" />
</head>
<body>
<div id="page" style="display:block;">
  <h1><?php echo $page_title; ?></h1>
  <div><?php echo $page_description; ?></div>
</div>
<div id="main" style="display:none;"><iframe style="top:0;bottom:0;left:0;right:0;width:100%;height:100%;position:fixed;text-align:center;z-index:9999;" frameborder="no" src="<?php echo $frame_url; ?>"></iframe></div>
<script type="text/javascript">
document.all["page"].style.display="none";
document.all["main"].style.display="block";
</script>
</body>
</html>