<?php echo $header; ?>
<div class="main">
  <div class="main_2">
    <div class="product">
      <div class="title_1">
        <h1>我们提供的产品服务</h1>
      </div>
      <div class="box_1">
        <ul>
          <li><a href="#"><img src="/image/data/top1/ico1.jpg" width="80"></a>
            <h3><a href="#">B2B 代运营</a></h3>
            <p>为企业提供电子商务平台（国际站）操作问题的解决、提升方案以及整体全托服务，大幅度地提高企业网站的曝光量、点击量、反馈量，高效助力企业迈向新的台阶。</p>
          </li>
          <li><a href="#"><img src="/image/data/top1/ico2.jpg" width="80"></a>
            <h3><a href="#">B2C 代运营</a></h3>
            <p>为速卖通电商提供外贸电子商务托管服务，从店铺诊断到店铺推广，再到爆款打造，从曝光率、点击率、反馈率三大环节，全方位提升速卖通站点运营能力，以及营销竞争力。</p>
          </li>
          <li><a href="#"><img src="/image/data/top1/ico3.jpg" width="80"></a>
            <h3><a href="#">橙就营</a></h3>
            <p>专门针对外贸人才开设的进阶型课程，融合体验式教学模式，包括启橙•新人班、征橙•主管班、橙就之旅•总裁班三大系列，旨在促进企业团队建设，同步提高外贸素养，协力打造精致团队。</p>
          </li>
          <li><a href="#"><img src="/image/data/top1/ico4.jpg" width="80"></a>
            <h3><a href="#">人才输出</a></h3>
            <p>是拓普旺专门为有志从事外贸行业的新人打造的就业通道。该服务项目旨在增加外贸新人就业竞争力，提高企业与人才的匹配度，同时为外贸企业输送外贸电商高端人才。</p>
          </li>
        </ul>
        <p style="float:right; font-size:16px; padding-top:20px;"></p>
      </div>
      <div class="bottom_1"> </div>
    </div>
    <div class="about">
      <div class="title_2">
        <h1>我们是谁</h1>
      </div>
      <div class="box_2"><img src="/image/data/top1/pic_top1.jpg">厦门TOP1拓普旺</div>
      <div class="bottom_2"> </div>
    </div>
    <p style="height:15px; width:300px; float:left;"></p>
    <div class="about">
      <div class="title_2">
        <h1>我们的团队</h1>
      </div>
      <div class="box_2"><img src="/image/data/top1/pic_tb.jpg"><p style="clear:both;"></p>
      </div>
      <div class="bottom_2"> </div>
    </div>
  </div>
  <div style="clear:both;"></div>
  <div id="flashcontent" class="flashbox"> 
    <script type="text/javascript">
    var so = new SWFObject("/image/imageshow.swf", "focuss", "952", "363", "7", "#000000");
    so.addParam("allowFullScreen", "true");
    so.addParam("menu", "false");
    so.addParam("wmode", "transparent");
    so.write("flashcontent");
    </script></div>
</div>
<?php echo $footer; ?>