body{font:"ו";font-size:12px;}
	a:link,a:visited{font-size:12px;color:#666;text-decoration:none;}
	a:hover{color:#ff0000;text-decoration:underline;}
	#Tab{margin:0 auto;margin-bottom:20px;height:300;}
	.Menubox{height:28px;border-bottom:1px solid #AAAAAA;background:#FFF;}
	.Menubox ul{list-style:none;margin:7px 40px;padding:0;position:absolute;}
	.Menubox ul li{float:left;background:#ffffff;line-height:20px;display:block;cursor:pointer;width:65px;text-align:center;color:#000000;font-weight:bold;border-top:1px solid #aaaaaa;border-left:1px solid #aaaaaa;border-right:1px solid #aaaaaa;}
	.Menubox ul li.hover{background:#ffffff;border-bottom:1px solid #fff;color:#000000;}
	.Contentbox{clear:both;margin-top:0px;border-top:none;height:181px;padding-top:8px;height:100%;}
	.Contentbox ul{list-style:none;margin:7px;padding:0;}
	.Contentbox ul li{line-height:24px;}